    <div class="col-3 mt-5">
      <h5 class="border border-secondary mb-0 p-2 text-center">ジャンル検索</h5>
      <div class="border border-secondary">
        <ul class="genre-list">
          <% @genres.each do |genre| %>
          <li><%= genre.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-4 mt-5">
      <%= attachment_image_tag @product, :image, :fill, 320, 240 %>
    </div>

    <div class="col-5 mt-5">
      <h4 class="mt-3 mb-3"><%= @product.name %></h4>
      <p><%= @product.introduction %></p>
       <h4><%= @product.add_tax_price.to_s(:delimited) %>(税込)</h4>
          <%= form_with model: @cart_product, url: cart_products_path, class: "p-4", local: true do |f| %>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <%= f.select :amount, [['1', 1], ['2', 2],['3', 3],['4', 4],['5', 5]], include_blank: "個数選択" %>
            <%= f.submit "カートに入れる", class: "btn btn-success ml-3" %>
          <% end %>
    </div>
