    <div class="col-3 mt-5">
      <h5 class="border border-secondary mb-0 p-2 text-center">ジャンル検索</h5>
      <div class="border border-secondary">
        <ul class="genre-list">
          <% @genres.each do |genre| %>
          <li><%= genre.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-4 mt-5">
      <%= image_tag('eclair-3366430_640.jpg', size: '320x240') %>
    </div>

    <div class="col-5 mt-5">
      <h4 class="mt-3 mb-3"><%= @product.name %></h4>
      <p><%= @product.introduction %></p>
      <h5 class="mt-5">¥<%= @product.price %>(税込)</h5>
          <%= form_with model: CartProduct, url: cart_product_path, class: "p-4" do |f| %>
            <%= f.select :amount, [['1', 1], ['2', 2],['3', 3],['4', 4],['5', 5]], include_blank: "個数選択" %>
            <%= f.submit "カートに入れる", class: "btn btn-success ml-3" %>
          <% end %>
    </div>
