<h4 class="bg-light p-3 my-5">ショッピングカート</h4>

<div class="ml-auto">
  <%= link_to "カートを空にする", destroy_all_path, method: :delete, class: "btn btn-danger m-5 block-right" %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">商品名</th>
      <th scope="col">単価(税込)</th>
      <th scope="col">数量</th>
      <th scope="col">小計</th>
      <th scope="col"></th>
    </tr>
  </thead>
    <% @cart_products.each do |cart_product| %>
    <tbody>
      <tr>
        <td><%= attachment_image_tag cart_product.product, :image, :fill, 70, 45, class: "mr-3" %><%= cart_product.product.name %></td>
        <td><%= cart_product.product.price %>(<%= cart_product.product.add_tax_price.to_s(:delimited) %>)</td>
        <td>
           <%= form_with model: cart_product, url: cart_product_path(cart_product), method: :patch, local: true do |f| %>
              <%= f.number_field :amount, in: 1..5, value: cart_product.amount %>
              <%= f.submit "変更", class: "btn btn-info" %>
           <% end %>
        </td>
        <td><%= cart_product.product.add_tax_price * cart_product.amount %></td>
        <td><%= link_to "削除する", cart_product_path(cart_product.id), method: :delete, class: "btn btn-danger m-6" %></td>
   　  </tr>
    <% end %>
 </tbody>
</table>

<div class="col-8">
 <%= link_to "買い物を続ける", root_path, class: "btn btn-primary m-6 block-right" %>
</div>

<table class="table table-bordered text-center col-4 ml-auto">
  <tr>
    <th class>合計金額</th>
    <td><%= @total_price %></td>
  </tr>
</table>

<div class="col-12 text-center">
  <%= link_to "情報入力にすすむ", new_order_path, class: "btn btn-success m-5 p-3 block-right" %>
</div>