
    <div class="col-3 mt-5">
      <h5 class="border border-secondary mb-0 p-2 text-center">ジャンル検索</h5>
      <div class="border border-secondary">
        <ul class="genre-list">
          <% @genres.each do |genre| %>
          <li><%= genre.name %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-9 mt-4">
      <div class="home-image position-relative text-center m-3 col-9"><%= image_tag('eclair-3366430_640.jpg', size: '620x340') %>
        <div class="introduction border border-secondary">
          <p class="text-dark">ようこそ、ながのCAKEへ！
             このサイトは、ケーキ販売のECサイトになります。
             会員でない方も商品の閲覧はできますが、
             購入には会員登録が必要になります
          </p>
        </div>
      </div>
      <div>
        <h3 class="m-4">新着情報</h3>
        <!--each文などで増やす-->
        <ul class="new-products">
          <li>
            <%= image_tag('eclair-3366430_640.jpg', size: '170x120') %>
            <h6 class="mt-2">商品名</h6>
            <h6 class="mt-2">¥0,000</h6>
          </li>
          <li>
            <%= image_tag('eclair-3366430_640.jpg', size: '170x120') %>
            <h6 class="mt-2">商品名</h6>
            <h6 class="mt-2">¥0,000</h6>
          </li>
          <li>
            <%= image_tag('eclair-3366430_640.jpg', size: '170x120') %>
            <h6 class="mt-2">商品名</h6>
            <h6 class="mt-2">¥0,000</h6>
          </li>
          <li>
            <%= image_tag('eclair-3366430_640.jpg', size: '170x120') %>
            <h6 class="mt-2">商品名</h6>
            <h6 class="mt-2">¥0,000</h6>
          </li>
        </ul>
      </div>
      <div class='text-right'>
        <%= link_to "すべての商品を見る >", products_path %>
      </div>
     </div>