<div class="col-10 mt-5">
  <h5>ジャンル・機能追加</h5>
     <%= form_with model: @genre, url: '/genre',class: "form-inline mt-4", local:true do |f| %>
       <div class="form-group">
         <label for="exampleInputTitle" class="mr-3">ジャンル名</label>
           <%= f.text_field :genre %>
       </div>
           <%= f.submit '新規登録', class: "btn btn-success ml-3" %>
     <% end %>
   </div>
   <table class="table col-4 mt-5">
    <thead class="thead-light">
      <tr>
        <th scope="col">ジャンル</th>
        <th></th>
      </tr>
     </thead>
     <tbody>
      <tr>
        <th>ケーキ</th>
        <th><%= link_to "編集する", edit_admin_genre_path, class: "btn btn-success ml-1" %></th>
      </tr>
          <tr>
        <th>ケーキ</th>
        <th><%= link_to "編集する", class: "btn btn-success ml-1" %></th>
      </tr>
   </tbody>
  </table>
 </div>