<div class="container">
  <div class="row">
    <div class="col-6 mt-5">
      <%= attachment_image_tag @product, :image, :fill, 480, 340 %>
    </div>

    <div class="col-6 mt-5">
      <div>
        <label>商品名</label>
        <p class="d-inline-block ml-4"><%= @product.name %></p>
      </div>

      <div>
        <label>商品説明</label>
        <p class="d-inline-block ml-4"><%= @product.introduction %></p>
      </div>

      <div>
        <label>ジャンル</label>
        <p class="d-inline-block ml-4"><%= @product.genre.name %></p>
      </div>

      <div>
        <label>税込価格(税抜価格)</label>
        <p class="d-inline-block ml-4"><%= @product.price.to_s(:delimited) %>(<%= @product.add_tax_price.to_s(:delimited) %>)</p>
      </div>

      <div>
        <label>販売ステータス</label>
        <% if @product.is_active == true %>
          <p class="text-success">販売中</p>
        <% else %>
          <p class="text-secondary">販売停止中</p>
        <% end %>
      </div>

      <div class="actions row">
        <%= link_to "編集する", edit_admin_product_path(@product), class: "btn btn-success btn-block col-sm-3 offset-sm-3" %>
      </div>
    </div>
  </div>

  <div class="row mt-5 pt-5">
    <div class="col-3 ">
      <h2>売上情報</h2>
      <div class="ml-3 mt-3">
        <p>注文件数:<%= @product_order_count %></p>
        <p>販売件数:<%= @product_sale_count %></p>
        <p>総売上げ：<%= @sales_price.to_s(:delimited) %>円</p>
      </div>
    </div>
    <div class="col-7">
      <%= column_chart @sale_data %>
    </div>
  </div>

  <div class="row">
    <div class="col-4 mt-5 pt-5">
      <h2>お客様の声</h2>
      <div id="rate_avg"></div>
      <%= bar_chart @data, colors: ["orange"], min: 0, max: 100 %>
    </div>

    <div class="col-7 offset-1 mt-5 pt-5">
      <div class="my-2">
        <% @comments.each do |comment| %>
          <h4 class="mt-5"><%= comment.title %></h4>
          <div class="d-inline-block">
            <span class="ml-2" id="rate_<%= comment.id %>"></span>
              <script>
                $('#rate_<%= comment.id %>').raty({
                  size: 20,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= comment.rate %>,
                });
              </script>
            <span class="ml-5 pl-5"><%= comment.created_at.strftime("%Y/%m/%d") %></span>
          </div>
          <p class="d-block mt-3"><%= comment.comment %></p>
          <%= link_to "#{comment.customer.first_name}#{comment.customer.last_name}", admin_customer_path(comment.customer_id) %>
        <% end %>
      </div>
    </div>
  </div>
  <%= paginate @comments %>
</div>

<script>
  $('#rate_avg').raty({
    size: 20,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= @rate_avg %>
  });
</script>